.navbar{
    height: 100px;
    font-size:20px;
}
.bg-light {
    background-color: #22A7F0!important;
}

.navbar-light .navbar-brand {
    color: #f8f9fa;
    font-size: 30px;
    
}.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #f8f9fa;
    padding: 25px;
}
.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
     padding: 25px;
    
}
.navbar-light .navbar-nav .nav-link.disabled {
    color: #f8f9fa;
     padding: 25px;
    background: #000;
}